$lista: (
    ancho: 50%,
    padding-arriba: 20px,
    padding-abajo: 20px,
    margen: auto,
);


.articulos_container{
    width: map-get($lista, ancho);
    padding-top: map-get($lista, padding-arriba);
    padding-bottom: map-get($lista, padding-abajo);
    margin: map-get($lista, margen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-right: 30px;
}

.imgFoot{
    text-align: center;
    padding-right: 30px;
    font-style: italic;
    color: $color-citas
}

.articulos__img{
    border-radius: 10%;
    margin: auto;
}
