.nav__padding{
    padding: 0;
}

.nav__img{
    height: 30px;

}

.nav__logo{
    height: 45px;
    padding-right:50px;

}

.encabezado__redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.logo__in{
    opacity: 65%;
}


nav a{
    font-weight: bold;
}