.card__portada{
    width: 100%;
    opacity: 75%;
    transition: opacity 1s;
}

.card__portada:hover{
    opacity: 100%;
}

.card__readMore{
    text-decoration: none;    
}

// mapa //

$fuentes:("title": 19px, "parrafo": 16px);

@each $var, $tamanio in $fuentes {
    .card__#{$var}{
        font-size: $tamanio;
    }
}

