// contenido de la seccion

.sobremi__container{
    display: grid;
    grid-template-areas:
    "sobremi__intro sobremi__img"
    "sobremi__cita  sobremi__img"
    "sobremi__texto sobremi__img";
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}


.sobremi__intro{
    grid-area: sobremi__intro;
    text-align: justify;
    padding-right: 30px;
}

.sobremi__img{
    grid-area: sobremi__img;
    /* width: 400px; */
    border-radius: 10%;
margin: auto;
}

.sobremi__cita{
    grid-area: sobremi__cita;
    text-align: justify;
    padding-right: 30px;
}

.sobremi__texto{
    grid-area: sobremi__texto;
    text-align: justify;
    padding-right: 30px;
    margin-bottom: 0;
}

.citas{
    font-style: italic;
    color: $color-citas
}




// queris

// @media (max-width:360px){


//     footer p{
//         font-size: 12px;
//     }

//     .pie__logo{
//         height: 40px;
//     }

// }

@media (max-width:900px){

    .sobremi__container{
        grid-template-areas:
        "sobremi__img"
        "sobremi__intro"
        "sobremi__cita "
        "sobremi__texto";
        width: 100%;

    }
    
    .sobremi__intro{
        padding-right: 0;
    }

    .sobremi__cita{
        padding-right: 0;
    }
    
    .sobremi__texto{
        padding-right: 0;
        margin-bottom: 0;
    }
}

@media (max-width:1500px){
    .sobremi__container{
        width: 70%;
       
    }

}